---
title: About Us
layout: layouts/about-us.njk
eleventyNavigation:
  key: About Us
  order: 4
---

<article class="c-page h-100p flex align-items-center">
    <div class="max-w-text mx-auto text-center">

      <div class="mb-64 sr-only">
        <h1 class="f-title">About Us</h1>
        <div class="w-32 h-1 bg-black mx-auto"></div>
      </div>
        
        <section class="mb-80">

        <p>Sanguine was founded to deliver world class communications to scale up healthcare companies, supporting their pursuit to make a salient difference to people’s lives. We draw inspiration from our clients whose unshakeable optimism paves the way for life changing solutions.</p>
        <p>At Sanguine, we recognise that advertising is both a science and an art. That’s why we begin every project with rigorous scientific analysis of our client’s target audience, be it investors, healthcare decision makers or patients, and leverage the resulting data to create stand out creative communications that are resonant, effective and memorable.</p>


        </section>
        
    </div>
</article>