---
title: About Us
layout: layouts/about-us.njk
eleventyNavigation:
  key: About Us
  order: 4
---

<article class="c-page">
    <div class="max-w-text mx-auto">
    <h1 class="f-title sr-only">Our Team</h1>
        
        <section class="mb-80 | md.mb-160">

            <div class="text-center mb-64">
                <h2 class="mt-0 mb-16 uppercase">About Us</h2>
                <div class="w-32 h-1 bg-black mx-auto"></div>
                
            </div>
            <p>Sanguine was founded to deliver world class communications to scale up healthcare companies, supporting their pursuit to make a salient difference to people’s lives. We draw inspiration from these companies whose unshakeable optimism paves the way for lifechanging solutions.</p>

            <p>Sanguine comprises leading advertising professionals who have played instrumental roles in growing the world’s most revered brands. By injecting creative prowess and proven strategies into our client’s communications we help them to win the trust of their audience, be it patients, healthcare professionals or investors.</p>

            <p>Whether seeking to raise funds, launch a product into an ultra competitive market or change the perception of a disease, technology or treatment, we believe Sanguine is the best approach.</p>

            <p>Because when you’re sanguine, anything is possible.</p>

        </section>
        
    </div>
</article>