---
title: Our Team
layout: layouts/our-team.njk
eleventyNavigation:
  key: Our Team
  order: 3
---


<article class="">
    <div class="">
    <h1 class="f-title sr-only">Our Team</h1>
        


      <ul id="js-profiles" class="grid grid-cols-1 gap-32 | sm.grid-cols-2 sm.gap-40 | lg.grid-cols-4" style="padding: clamp(1rem, 2vw, 2rem);">
        <li> 
          <figure class="relative">
            <img src="/img/team/raphael_stone.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
                <a href="#profile-01" class="glightbox a11y-link" data-gallery="profiles">
                  <span class="bold">Raphael Stone</span>
                  <br>
                  <span class="light">CO-FOUNDER</span>
                </a>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure class="relative">
            <img src="/img/team/nick_houghton.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
                <a href="#profile-02" class="glightbox a11y-link" data-gallery="profiles">
                <span class="bold">Nick Houghton</span>
                <br>
                <span class="light">CO-FOUNDER</span>
                </a>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure class="relative">
            <img src="/img/team/laura_weston.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
              <a href="#profile-03" class="glightbox a11y-link" data-gallery="profiles">
              <span class="bold">Laura Weston</span>
              <br>
              <span class="light">Behaviour Specialist<br>- Qualitative</span>
              </a>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure class="relative">
            <img src="/img/team/victoria_ulph.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
               <a href="#profile-04" class="glightbox a11y-link" data-gallery="profiles">
              <span class="bold">Victoria Ulph</span>
              <br>
              <span class="light">Consumer Behaviour Specialist<br>- Qualitative</span>
              </a>
              </figcaption>
          </figure>
        </li>                                
      </ul>



<div id="profile-01" style="display: none;">
  <div class="inline-inner" style="padding:clamp(1rem, 2vw, 2rem);">
   
    <div class="flex flex-col | sm.grid sm.grid-cols-2 sm.gap-32">
      <div class="max-w-512">
        <img src="/img/team/raphael_stone.png" alt="" loading="lazy">
      </div>
      <div class="max-w-text">
        <h2 class="f-body uppercase tracking-loose leading-120 mt-32 text-lg | md.text-xl md.leading-120">
          <span class="bold">Raphael Stone</span>
          <br>
          <span class="light">CO-FOUNDER</span>
        </h2>
        <p>Raphael Stone has a track record of developing award-winning campaigns alongside leading advertising agencies in London, New York, and Berlin. He has conceived and directed campaigns that have contributed to the success of the world’s most revered brands. His interactive campaign for Vice provoked a record youth-voter turnout in New Zealand’s general elections. His integrated global Christmas campaign for PayPal added 16 million new customers in a single quarter.  For Swiss-American pharmaceutical giant, Roche, he developed a multi-million dollar pitch-winning campaign.</p>
        <p>Raphael brings his vast experience concieving campaigns for global megabrands to the healthcare sectors, enabling biotechs, pharmaceuticals and healthcare charities to advertise as effectively, creatively and memorably as the likes of Apple and Nike. </p>
      </div>
    </div>
        
  </div>
</div>


<div id="profile-02" style="display: none;">
  <div class="inline-inner" style="padding:clamp(1rem, 2vw, 2rem);">
   
    <div class="flex flex-col | sm.grid sm.grid-cols-2 sm.gap-32">
      <div class="max-w-512">
        <img src="/img/team/nick_houghton.png" alt="" loading="lazy">
      </div>
      <div class="max-w-text">
        <h2 class="f-body uppercase tracking-loose leading-120 mt-32 text-lg | md.text-xl md.leading-120">
              <span class="bold">Nick Houghton</span>
              <br>
              <span class="light">CO-FOUNDER</span>
        </h2>
        <p>Nicholas Houghton has a track record of developing award-winning campaigns alongside leading advertising agencies in London, New York, and Berlin. He has conceived and directed campaigns that have contributed to the success of the world’s most revered brands. His interactive campaign for Vice provoked a record youth-voter turnout in New Zealand’s general elections. His integrated global Christmas campaign for PayPal added 16 million new customers in a single quarter.  For Swiss-American pharmaceutical giant, Roche, he developed a multi-million dollar pitch-winning campaign.</p>
        <p>Nicholas brings his vast experience concieving campaigns for global megabrands to the healthcare sectors, enabling biotechs, pharmaceuticals and healthcare charities to advertise as effectively, creatively and memorably as the likes of Apple and Nike. </p>
      </div>
    </div>
        
  </div>
</div>

<div id="profile-03" style="display: none;">
  <div class="inline-inner" style="padding:clamp(1rem, 2vw, 2rem);">
   
    <div class="flex flex-col | sm.grid sm.grid-cols-2 sm.gap-32">
      <div class="max-w-512">
        <img src="/img/team/laura_weston.png" alt="" loading="lazy">
      </div>
      <div class="max-w-text">
        <h2 class="f-body uppercase tracking-loose leading-120 mt-32 text-lg | md.text-xl md.leading-120">
          <span class="bold">Laura Weston</span>
          <br>
          <span class="light">Behaviour Specialist<br>- Qualitative</span>
        </h2>
        <p>Victoria is a qualitative researcher with over a decade of agency-side experience. She specialises in turning human behavioral insight into brand opportunity and growth. She has done this for both the private sector and highly regulated public sector. Victoria is well versed in producing high quality and high profile research held up to scrutiny by industry regulators.</p>
      </div>
    </div>
        
  </div>
</div>

<div id="profile-04"  style="display: none;">
  <div class="inline-inner" style="padding:clamp(1rem, 2vw, 2rem);">
   
    <div class="flex flex-col | sm.grid sm.grid-cols-2 sm.gap-32">
      <div class="max-w-512">
        <img src="/img/team/victoria_ulph.png" alt="" loading="lazy">
      </div>
      <div class="max-w-text">
        <h2 class="f-body uppercase tracking-loose leading-120 mt-32 text-lg | md.text-xl md.leading-120">
              <span class="bold">Victoria Ulph</span>
              <br>
              <span class="light">Consumer Behaviour Specialist<br>- Qualitative</span>
        </h2>
        <p>Laura is a mixed-method researcher with a passion for numbers and data. She started her career in health policy research using gold standard survey methodology working for government departments and other public sector agencies. Keen to move from reporting data to turning research into actionable insights she moved into the world of media. As an in-house specialist at Manning Gottlieb OMD she honed her skills in applied behavioral science and understanding people through a blend of data, science and data science.</p>
      </div>
    </div>
        
  </div>
</div>


        {# <section class="mb-80 | md.mb-160">

            <div class="text-center mb-64">
                <h2 class="mt-0 mb-16">THE CREATIVE WING</h2>
                <div class="w-32 h-1 bg-black mx-auto"></div>
                <h3 class="f-h5 mt-64">Raphael Stone & Nicholas Houghton <br><span class="uppercase">CO FOUNDERs OF SANGUINE</span></h3>
                
            </div>
            <p>Raphael Stone and Nicholas Houghton have been an award-winning advertising creative team for a decade. They have a track record of developing award-winning campaigns alongside leading advertising agencies in London, New York, and Berlin. The campaigns they have conceived and executed have contributed to the success of the world’s most revered brands. For Swiss-American pharmaceutical giant, Roche, they developed a multi-million dollar pitch-winning campaign. Their interactive campaign for Vice provoked a record youth-voter turnout in New Zealand’s general elections. Their integrated global Christmas campaign for PayPal added 16 million new customers in a single quarter, earning the campaign a gold award at the DMAs. The duo’s work has been recognised at Cannes, OneShow, DMA, and Axis.</p>

        </section>
        <section>

            <div class="text-center mb-64">
                <h2 lass="mt-0 mb-16">THE BEHAVIOURAL SCIENCE WING</h2>
                <div class="w-32 h-1 bg-black mx-auto"></div>
                <h3 class="f-h5 mt-64">Victoria Ulph Consumer Behaviour Specialist <br><span class="uppercase">Qualitative</span></h3>
            </div>

            <p>Victoria is a qualitative researcher with over a decade of agency-side experience. She specialises in turning human behavioral insight into brand opportunity and growth. She has done this for both the private sector and highly regulated public sector. Victoria is well versed in producing high quality and high profile research held up to scrutiny by industry regulators.</p>  

            <div class="text-center mt-64 mb-64">
                <h3 class="f-h5 mt-24">Laura Weston Consumer Behaviour Specialist <br><span class="uppercase">Qualitative</span></h3>
            </div>

            <p>Laura is a mixed-method researcher with a passion for numbers. She started her career in health policy research using gold standard survey methodology working for government departments and other public sector agencies. Keen to move from reporting data to turning research into actionable insights she moved into the world of media. As an in-house specialist at Manning Gottlieb OMD she honed her skills in applied behavioral science and understanding people through a blend of data, science and data science.</p>

            </div>
        </section> #}
    </div>
</article>