---
title: Our Team
layout: layouts/our-team.njk
eleventyNavigation:
  key: Our Team
  order: 3
---


<article class="mt-40 | md.mt-80">
    <div class="">
    <h1 class="f-title sr-only">Our Team</h1>
        


      <ul class="grid grid-cols-2 gap-32 | md.gap-64 | lg.grid-cols-4" style="padding: clamp(1rem, 2vw, 2rem);">
        <li> 
          <figure>
            <img src="/img/team/raphael_stone.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
                <span class="bold">Raphael Stone</span>
                <br>
                <span class="light">CO-FOUNDER</span>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure>
            <img src="/img/team/nick_houghton.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
                <span class="bold">Nick Houghton</span>
                <br>
                <span class="light">CO-FOUNDER</span>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure>
            <img src="/img/team/laura_weston.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
              <span class="bold">Laura Weston</span>
              <br>
              <span class="light">Behaviour Specialist<br>- Qualitative</span>
              </figcaption>
          </figure>
        </li>
        <li> 
          <figure>
            <img src="/img/team/victoria_ulph.png" alt="">
            <figcaption class="text-md uppercase tracking-loose leading-120 text-center mt-32">
              <span class="bold">Victoria Ulph</span>
              <br>
              <span class="light">Consumer Behaviour Specialist<br>- Qualitative</span>
              </figcaption>
          </figure>
        </li>                                
      <ul>

        {# <section class="mb-80 | md.mb-160">

            <div class="text-center mb-64">
                <h2 class="mt-0 mb-16">THE CREATIVE WING</h2>
                <div class="w-32 h-1 bg-black mx-auto"></div>
                <h3 class="f-h5 mt-64">Raphael Stone & Nicholas Houghton <br><span class="uppercase">CO FOUNDERs OF SANGUINE</span></h3>
                
            </div>
            <p>Raphael Stone and Nicholas Houghton have been an award-winning advertising creative team for a decade. They have a track record of developing award-winning campaigns alongside leading advertising agencies in London, New York, and Berlin. The campaigns they have conceived and executed have contributed to the success of the world’s most revered brands. For Swiss-American pharmaceutical giant, Roche, they developed a multi-million dollar pitch-winning campaign. Their interactive campaign for Vice provoked a record youth-voter turnout in New Zealand’s general elections. Their integrated global Christmas campaign for PayPal added 16 million new customers in a single quarter, earning the campaign a gold award at the DMAs. The duo’s work has been recognised at Cannes, OneShow, DMA, and Axis.</p>

        </section>
        <section>

            <div class="text-center mb-64">
                <h2 lass="mt-0 mb-16">THE BEHAVIOURAL SCIENCE WING</h2>
                <div class="w-32 h-1 bg-black mx-auto"></div>
                <h3 class="f-h5 mt-64">Victoria Ulph Consumer Behaviour Specialist <br><span class="uppercase">Qualitative</span></h3>
            </div>

            <p>Victoria is a qualitative researcher with over a decade of agency-side experience. She specialises in turning human behavioral insight into brand opportunity and growth. She has done this for both the private sector and highly regulated public sector. Victoria is well versed in producing high quality and high profile research held up to scrutiny by industry regulators.</p>  

            <div class="text-center mt-64 mb-64">
                <h3 class="f-h5 mt-24">Laura Weston Consumer Behaviour Specialist <br><span class="uppercase">Qualitative</span></h3>
            </div>

            <p>Laura is a mixed-method researcher with a passion for numbers. She started her career in health policy research using gold standard survey methodology working for government departments and other public sector agencies. Keen to move from reporting data to turning research into actionable insights she moved into the world of media. As an in-house specialist at Manning Gottlieb OMD she honed her skills in applied behavioral science and understanding people through a blend of data, science and data science.</p>

            </div>
        </section> #}
    </div>
</article>