---
title: Lloyds Pharmacy
description: British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin.
templateClass: tmpl-work
templateColourClass:
date: 2018-05-01
image: "/img/work/work_01.jpg"
logo: "/_includes/logo.svg"
tags:
  - another tag
layout: layouts/post.njk
---

<div id="work-content-intro" class="">
  <h1 class="f-h3 f-subtitle">{{ title }}</h1>

  <p>British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin. To make the brand stand out in an often pretentious and overcomplicated category, we positioned Nutriwithin as no-nonsense, summed up in a strapline: ‘Just what you need’.
The campaign came to life across social media, outdoor and online.</p>
</div>

<button id="work-btn-more" class="c-btn">Read More</button>

<div id="work-content-more" class="">
  <p>Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
