---
title: Lloyds Pharmacy
description: British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin.
templateColourClass:
image: "/img/work/work_01.jpg"
logo: "/_includes/logo.svg"
image_01: "/img/work/leukaemia-uk/img-01.jpg"
image_01_xl: "/img/work/leukaemia-uk/img-01-xl.jpg"
image_02: "/img/work/leukaemia-uk/img-02.jpg"
image_02_xl: "/img/work/leukaemia-uk/img-02-xl.jpg"
image_03: "/img/work/leukaemia-uk/img-03.jpg"
video_03: "/img/work/leukaemia-uk/video-03.mp4"
date: 2018-05-01
tags:
  - another tag
layout: layouts/post.njk
---

<div class="l-work-content">


<div id="work-content-intro" class="">
  <h1 class="f-h3 f-subtitle">{{ title }}</h1>

  <p>British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin. To make the brand stand out in an often pretentious and overcomplicated category, we positioned Nutriwithin as no-nonsense, summed up in a strapline: ‘Just what you need’.
The campaign came to life across social media, outdoor and online.</p>
</div>

<button id="work-btn-more" class="c-btn">Read More</button>

<div id="work-content-more" class="">
  <p>Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
</div>


  <ol class="c-pagination mt-auto">
    {% set prev = prevPost.url %}
    {% set next = nextPost.url %}
    {% if prev %}
    <li><a href="{{ prevPost.url }}" aria-label="View {{ prevPost.data.title }}">Prev</a></li>
    {% endif %}
    {% if next %}
    <li><a href="{{ nextPost.url }}" aria-label="View {{ nextPost.data.title }}">Next</a></li>
    {% endif %}
  </ol>

  </div>
  
  <div class="l-work-media" id="l-work-gallery">
    <div class="l-work-imgs">
      <a href="{{ image_01_xl }}" class="glightbox" data-gallery="gallery">
        <img src="{{ image_01 }}" alt="">
      </a>
      <a href="{{ image_02_xl }}" class="glightbox" data-gallery="gallery">
        <img src="{{ image_02 }}" alt="">
      </a>
    </div>
    <a class="l-work-video glightbox" href="{{ video_03 }}" data-gallery="gallery" data-width="90vw" data-videosWidth="90vw">
      <svg fill="currentColor" class="l-work-video__play" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" width="24" height="24"><path  d="M3 22v-20l18 10-18 10z"/></svg>
      <img src="{{ image_03 }}" alt="image" />
    </a>
  </div>
