---
title: New Zealand Association of General Surgeons
description: We were engaged by the New Zealand Association of General Surgeons to promote their 2022 conference ‘Synergy in Surgery’.
image: "/img/work/work_03.jpg"
logo: "/img/work/logo_nzags.png"
date: 2018-08-24
tags:
  - second tag
  - posts with two tags
layout: layouts/post.njk
---

<div id="work-content-intro" class="">
  <h1 class="f-h3 f-subtitle">{{ title }}</h1>
  <p>We were engaged by the New Zealand Association of General Surgeons to promote their 2022 conference ‘Synergy in Surgery’. As the subject of the conference was emerging technologies, we created a a digital campaign that asked surgeons a pointed and ineludible question: Could AI cut you out of surgery? The campaign launched with an online banner in which a simulated artificially intelligent surgeon appeared to be second away from operating on her first patient. The campaign attracted an additional guest speaker and resulted in a record number of registrations. </p>
</div>

<button id="work-btn-more" class="c-btn">Read More</button>

<div id="work-content-more" class="">
  <p>Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
