---
title: New Zealand Association of General Surgeons
description: We were engaged by the New Zealand Association of General Surgeons to promote their 2022 conference ‘Synergy in Surgery’.
image: "/img/work/work_03.jpg"
logo: "/img/work/logo_nzags.png"
image_01: "/img/work/nzags/img-01.jpg"
image_01_xl: "/img/work/nzags/img-01-xl.jpg"
image_02: "/img/work/nzags/img-02.jpg"
image_02_xl: "/img/work/nzags/img-02-xl.jpg"
image_03: "/img/work/nzags/img-03.jpg"
video_03: "https://vimeo.com/769157794"
date: 2018-08-24
tags:
  - second tag
  - posts with two tags
layout: layouts/post.njk
---

<section class="l-work-content">

  <div id="work-content-intro" class="">
    <div class="max-w-text">
      <h1 class="f-h3 f-subtitle">New Zealand Association<br> of General Surgeons</h1>
      <p>We were engaged by the New Zealand Association of General Surgeons to promote their 2022 conference ‘Synergy in Surgery’. As the subject of the conference was emerging technologies, we created a digital campaign that asked surgeons a pointed and provocative question: Could AI cut you out of surgery?</p>     
    </div>
  </div>

  <button id="work-btn-more" class="c-btn">Read More</button>
  <div id="work-content-more" class="max-w-text">
    <p>The campaign launched with an online banner in which a simulated artificially intelligent surgeon appeared to be seconds away from operating on its first patient. The campaign attracted an additional guest speaker and resulted in a record number of conference registrations.</p>  
  </div>
    

  <ol class="c-pagination mt-auto">
    {% set prev = prevPost.url %}
    {% set next = nextPost.url %}
    {% if prev %}
    <li><a href="{{ prevPost.url }}" aria-label="View {{ prevPost.data.title }}">Prev</a></li>
     {% else %}
    <li class=""></li>
    {% endif %}
    {% if next %}
    <li><a href="{{ nextPost.url }}" aria-label="View {{ nextPost.data.title }}">Next</a></li>
    {% else %}
    <li class=""></li>
    {% endif %}
  </ol>

</section>
  
<aside class="l-work-media" id="l-work-gallery">
  <div class="l-work-imgs l-work-imgs--stacked">
    <a href="{{ image_01_xl }}" class="glightbox" data-gallery="gallery">
      <img src="{{ image_01 }}" alt="">
    </a>
    <a href="{{ image_02_xl }}" class="glightbox" data-gallery="gallery">
      <img src="{{ image_02 }}" alt="">
    </a>
  </div>
  <a class="l-work-video glightbox" href="{{ video_03 }}" data-gallery="gallery" data-width="90vw" data-videosWidth="90vw">
    <svg fill="currentColor" class="l-work-video__play" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" width="24" height="24"><path  d="M3 22v-20l18 10-18 10z"/></svg>
    <img src="{{ image_03 }}" alt="image" />
  </a>
</aside>
