---
title: Nutri Within
description: Britain’s two largest leukaemia organisations, Leukaemia U.K and Leukaemia Care, called on us to deliver their campaign for Blood Cancer Awareness Month, raising awareness of the 3 key symptoms of leukaemia.
image: "/img/work/work_04.jpg"
logo: "/img/work/logo_nutri-within-logo.svg"
image_01: "/img/work/nutri-within/img-01.jpg"
image_01_xl: "/img/work/nutri-within/img-01-xl.jpg"
image_02: "/img/work/nutri-within/img-02.jpg"
image_02_xl: "/img/work/nutri-within/img-02-xl.jpg"
image_03: "/img/work/nutri-within/img-03.jpg"
image_03_xl: "/img/work/nutri-within/img-03-xl.jpg"
date: 2022-07-04
tags:
  - number 2
layout: layouts/post.njk
---


<section class="l-work-content">

  <div id="work-content-intro" class="">
    <div class="max-w-text">
      <h1 class="f-h3 f-subtitle">{{ title }}</h1>
      <p>British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin. To make the brand stand out in an often pretentious and overcomplicated category, we positioned Nutriwithin as no-nonsense, summed up in a refreshingly honest strapline: ‘Just what you need’. The campaign came to life across social media, outdoor and online.</p>
    </div>
  </div>

  <ol class="c-pagination mt-auto">
    {% set prev = prevPost.url %}
    {% set next = nextPost.url %}
    {% if prev %}
    <li><a href="{{ prevPost.url }}" aria-label="View {{ prevPost.data.title }}">Prev</a></li>
      {% else %}
    <li class=""></li>
    {% endif %}
    {% if next %}
    <li><a href="{{ nextPost.url }}" aria-label="View {{ nextPost.data.title }}">Next</a></li>
    {% else %}
    <li class=""></li>
    {% endif %}
  </ol>

</section>
  
<aside class="l-work-media" id="l-work-gallery">

  <div class="l-work-imgs">
    <a href="{{ image_01_xl }}" class="glightbox" data-gallery="gallery">
      <img src="{{ image_01 }}" alt="">
    </a>
    <a href="{{ image_02_xl }}" class="glightbox" data-gallery="gallery">
      <img src="{{ image_02 }}" alt="">
    </a>
  </div>

  <div class="l-work-slider relative">
    <!-- Slider main container -->
    <div  class="swiper swiper--default swiper--work | js-swiper--default |">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->        
        <div class="swiper-slide">
          <img src="/img/work/nutri-within/slider/slide-02.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/work/nutri-within/slider/slide-03.jpg" alt="">        
        </div>        
        <div class="swiper-slide">          
          <img src="/img/work/nutri-within/slider/slide-01.jpg" alt="">        
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev color-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
      </div>
      <div class="swiper-button-next color-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
      </div>

    </div>

  </div>

</aside>

