---
title: Nutri Within
description: Britain’s two largest leukaemia organisations, Leukaemia U.K and Leukaemia Care, called on us to deliver their campaign for Blood Cancer Awareness Month, raising awareness of the 3 key symptoms of leukaemia.
image: "/img/work/work_04.jpg"
logo: "/img/work/logo_nutri-within-logo.svg"
image_01: "/img/work/nutri-within/img-01.jpg"
image_01_xl: "/img/work/nutri-within/img-01-xl.jpg"
image_02: "/img/work/nutri-within/img-02.jpg"
image_02_xl: "/img/work/nutri-within/img-02-xl.jpg"
image_03: "/img/work/nutri-within/img-03.jpg"
image_03_xl: "/img/work/nutri-within/img-03-xl.jpg"
date: 2022-07-04
tags:
  - number 2
layout: layouts/post.njk
---


<div class="l-work-content">


  <div id="work-content-intro" class="">
    <div class="max-w-text">
      <h1 class="f-h3 f-subtitle">{{ title }}</h1>
      <p>British pharmacy chain LloydsPharmacy engaged us to launch their new multivitamin range NutriWithin. To make NutriWithin stand out in an often pretentious and overcomplicated category, we positioned the brand as no-nonsense, summed up in the refreshingly honest and non-threatening strapline: ‘Just what you need’. The campaign came to life across social media, outdoor and online.</p>
    </div>
  </div>


<ol class="c-pagination mt-auto">
    {% set prev = prevPost.url %}
    {% set next = nextPost.url %}
    {% if prev %}
    <li><a href="{{ prevPost.url }}" aria-label="View {{ prevPost.data.title }}">Prev</a></li>
     {% else %}
    <li class=""></li>
    {% endif %}
    {% if next %}
    <li><a href="{{ nextPost.url }}" aria-label="View {{ nextPost.data.title }}">Next</a></li>
    {% else %}
    <li class=""></li>
    {% endif %}
  </ol>
  </div>
  
  <div class="l-work-media" id="l-work-gallery">
    <div class="l-work-imgs">
      <a href="{{ image_01_xl }}" class="glightbox" data-gallery="gallery">
        <img src="{{ image_01 }}" alt="">
      </a>
      <a href="{{ image_02_xl }}" class="glightbox" data-gallery="gallery">
        <img src="{{ image_02 }}" alt="">
      </a>
    </div>
    <a class="l-work-video glightbox" href="{{ image_03_xl }}" data-gallery="gallery">
      <img src="{{ image_03 }}" alt="" />
    </a>
  </div>
