<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com"crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.css" integrity="sha512-wbWvHguVvzF+YVRdi8jOHFkXFpg7Pabs9NxwNJjEEOjiaEgjoLn6j5+rPzEqIwIroYUMxQTQahy+te87XQStuA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/uniformcss@1.0.0/dist/uniform.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/css/vendors.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header id="site-header" class="site-header">


        <a href="{{ '/' | url }}" class="relative z-8 site-brand" rel="home">
        {% include "../sanguine_logo_colour.svg" %}
        </a>

        <button class="c-btn-menu relative z-8 w-24 h-24 | md.hidden" data-disclosure aria-controls="js-site-nav" aria-expanded="false" hidden aria-label="Toggle Menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h18M3 6h18M3 18h18"/>
          </svg>
        </button>
      
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <div id="js-site-nav" class="site-nav | md.block">
        <nav class="flex flex-col | md.flex-row">
        {%- for entry in collections.all | eleventyNavigation %}
          <a href="{{ entry.url | url }}" class="{% if entry.url == page.url %} nav-item-active{% endif %}">{{ entry.title }}</a>
        {%- endfor %}
        </nav>
      </div>

    </header>

    <main>


      {{ content | safe }}
    </main>
    

    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.js" integrity="sha512-k2o1KZdvUi59PUXirfThShW9Gdwtk+jVYum6t7RmyCNAVyF9ozijFpvLEWmpgqkHuqSWpflsLf5+PEW6Lxy/wA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ '/js/vendors.js' | url }}"></script>
    <script src="{{ '/js/app.js' | url }}"></script>
  </body>
</html>
