---
layout: layouts/base.njk
templateClass: tmpl-home-alt
---


<div id="videoContainer" data-fullscreen="false">
  <video id="video-full" preload="metadata" controls="false" crossorigin autoplay playsinline muted defaultmuted poster="/img/SANGUINE_HYPE_FILM_POSTER_1.jpg">
    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4">
  </video>
  <div id="video-controls" class="controls" data-state="visible">
    <button id="playpause" type="button" data-state="pause">Play/Pause</button>
    <button id="mute" type="button" data-state="unmute">Mute/Unmute</button>
  </div>
</div>


{{ content | safe }}
