---
layout: layouts/base.njk
templateClass: tmpl-home
---


 <video id="player" crossorigin controls autoplay playsinline muted poster="/img/SANGUINE_HYPE_FILM_POSTER.jpg">
      <source src="/img/SANGUINE_HYPE_FILM.webm" type="video/webm">
      <source src="/img/SANGUINE_HYPE_FILM.mp4" type="video/mp4">
</video>

{{ content | safe }}
