---
layout: layouts/base.njk
templateClass: tmpl-home-alt s-header--light s-nav--light
---


<div id="videoContainer" data-fullscreen="false">
  <video id="video-full" preload="metadata" controls="false" crossorigin autoplay playsinline muted loop defaultmuted poster="/video/poster.jpg">
    <source src="/video/home.webm" type="video/webm">
    <source src="/video/home.mp4" type="video/mp4">
  </video>
  <div id="video-controls" class="controls" data-state="visible">
    <button id="playpause" type="button" data-state="pause" aria-label="Play/Pause"></button>
  </div>
</div>

<div class="fixed x-0 bottom-0 bg-black color-white py-16 | md.py-24">
  <h2 class="uppercase text-xs f-body text-center m-0 pb-16 | sm.text-base | md.text-md">We've provided consultancy services to:</h2>
  <div class="grid grid-cols-5 gap-16 px-16 max-w-text mx-auto | sm.gap-24 | md.gap-32">
    <img src="/img/client/client_logo_01.svg" alt="">
    <img src="/img/client/client_logo_02.svg" alt="">
    <img src="/img/client/client_logo_03.svg" alt="">
    <img src="/img/client/client_logo_04.svg" alt="">
    <img src="/img/client/client_logo_05.svg" alt="">
  </div>
</div>


{{ content | safe }}
