---
layout: layouts/base.njk
templateClass: tmpl-home-alt
---


<div id="videoContainer" data-fullscreen="false">
  <video id="video-full" preload="metadata" controls="false" crossorigin autoplay playsinline muted defaultmuted poster="/img/SANGUINE_HYPE_FILM_POSTER_1.jpg">
    <source src="/video/HYPE_FILM_SANGUINE_v1.webm" type="video/webm">
    <source src="/video/HYPE_FILM_SANGUINE_v1.mp4" type="video/mp4">
  </video>
  <div id="video-controls" class="controls" data-state="visible">
    <button id="playpause" type="button" data-state="pause" aria-label="Play/Pause"></button>
  </div>
</div>


{{ content | safe }}
