---
layout: layouts/base.njk
templateClass: tmpl-manifesto
---

<article class="c-page txt-center">
<div>
<div class="txt-center">

<h2 class="f-title">About Us</h2>
</div>
<p>Sanguine was founded to deliver <span class="txt-grad">world class communications</span> to scale up healthcare companies, supporting their pursuit to make a salient difference to people’s lives. We draw inspiration from these companies whose unshakeable optimism paves the way for <span class="txt-grad">lifechanging solutions</span>.</p>

<p>Sanguine comprises <span class="txt-grad">leading advertising professionals</span> who have played instrumental roles in growing the world’s most revered brands. By injecting <span class="txt-grad">creative prowess</span> and <span class="txt-grad">proven strategies</span> into our client’s communications we help them to win the trust of their audience, be it patients, healthcare professionals or investors.</p>

<p>Whether seeking to raise funds, launch a product into an ultra competitive market or change the perception of a disease, technology or treatment, we believe Sanguine is the best approach.</p>

<p class="txt-center"><span class="txt-grad">Because when you’re sanguine, anything is possible.</span></p>

</div>
<div>
<div class="txt-center">
<h2 class="f-title">Our People</h2>
</div>

<h3 class="f-h5">RAPHAEL STONE & NICHOLAS HOUGHTON <br>- CO FOUNDERs OF SANGUINE</h3>
<p>Raphael Stone & Nicholas Houghton have been a award-winning advertising creative team for a decade.  They have a track record of developing award-winning campaigns alongside leading advertising agencies in London, New York, and Berlin. The campaigns they have conceived and executed have contributed to the success of the world’s most revered brands. For Swiss-American pharmaceutical giant, Roche, they developed a multi-million dollar pitch-winning campaign. Their interactive campaign for Vice provoked a record youth-voter turnout in New Zealand’s general elections. Their integrated global Christmas campaign for PayPal added 16 million new customers in a single quarter, earning the campaign a gold award at the DMAs. The duo’s work has been recognised at Cannes, OneShow, DMA, and Axis.  
</p>

<h3 class="f-h5">Victoria Ulph 
Consumer Behaviour Specialist - Qualitative</h3>
<p>Victoria is a qualitative researcher with over a decade of agency-side experience. She specialises in turning human behavioural insight into brand opportunity and growth. She has done this for both the private sector and highlighly regulated public sector. Victoria is well adverse in producing high quality and high profile research held up to scrutiny by industry regulators.</p>  

<h3 class="f-h5">Laura Weston 
Consumer Behaviour Specialist - Quantitative</h3>
<p>Laura is a mixed-method researcher with a passion for numbers. She started her career in health policy research using gold standard survey methodology working for government departments and other public sector agencies. Keen to move from reporting data to turning research into actionable insights she moved into the world of media. As an in-house specialist at Manning Gottlieb OMD she honed her skills in applied behavioural science and understanding people through a blend of data, science and data science. 
</p>
{# <h3 class="f-h6">ARTHUR GANSON<br>- MEDICAL ADVISOR</h3>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
</div> #}

</article>
{{ content | safe }}
