---
layout: layouts/base.njk
templateClass: tmpl-manifesto
---

<article class="c-page">
<div>
<div class="txt-center">
<h2 class="f-title">Manifesto</h2>
</div>
<p>Sanguine was founded to deliver <span class="txt-grad">world class communications</span> to scale up healthcare companies, supporting their pursuit to make a salient difference to people’s lives. We draw inspiration from these companies whose unshakeable optimism paves the way for <span class="txt-grad">lifechanging solutions</span>.</p>

<p>Sanguine comprises <span class="txt-grad">leading advertising professionals</span> who have played instrumental roles in growing the world’s most revered brands. By injecting <span class="txt-grad">creative prowess</span> and <span class="txt-grad">proven strategies</span> into our client’s communications we help them to win the trust of their audience, be it patients, healthcare professionals or investors.</p>

<p>Whether seeking to raise funds, launch a product into an ultra competitive market or change the perception of a disease, technology or treatment, we believe Sanguine is the best approach.</p>

<p class="txt-center"><span class="txt-grad">Because when you’re sanguine, anything is possible.</span></p>

</div>
<div>
<div class="txt-center">
<h2 class="f-title">Our People</h2>
</div>
<h3 class="f-h6">RAPHAEL STONE & NICHOLAS HOUGHTON <br>- CO FOUNDERs OF SANGUINE</h3>

<p>As consultants, Raphael and Nicholas conceived a pitch-winning campaign for Roche pharmaceutical, devised a launch campaign for a Lloyds Pharmacy product and delivered campaigns for Alcon technology. Most recently, they delivered a nationwide campaign for Britain’s two leading leukaemia charities. They are passionate about bringing high level creative to scale up pharmaceuticals eager to disrupt the category.</p>

<h3 class="f-h6">ARTHUR GANSON<br>- MEDICAL ADVISOR</h3>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
</div>

</article>
{{ content | safe }}
