---
layout: layouts/base.njk
templateClass: tmpl-work s-header--light s-nav--light
---



{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "worklist.njk" %}



{{ content | safe }}

